# exclude everything
/.idea
/newv

/TP1/data/train/*
/TP1/data/validation/*
/TP1/logs/*
/TP1/model_keras.h5
/TP1/model_weights.h5

/TP1_Exo/data/train/*
/TP1_Exo/data/valid/*
/TP1_Exo/data/test/*
/TP1_Exo/logs/*
/TP1_Exo/model_keras.h5
/TP1_Exo/model_weights.h5

/TP2/model/*
/TP2/data/*

TP3_GAN/data/*
TP3_GAN/samples/*

# exception to the rule
!/TP1/data/train/.gitkeep
!/TP1/data/validation/.gitkeep
!/TP1_Exo/data/train/.gitkeep
!/TP1_Exo/data/valid/.gitkeep
!/TP1_Exo/data/test/.gitkeep
!/TP2/model/.gitkeep
!/TP2/data/.gitkeep
/TP3_GAN/TP_GAN_EXO.ipynb
/TP3_GAN/G.ckpt
/TP3_GAN/D.ckpt
/TP4/faceimages/
/TP4/landmarks/
/TP4/haarcascade_frontalface_default.xml
/TP4/shape_predictor_68_face_landmarks.dat
/TP1_NLP/review_polarity/txt_sentoken/
/TP1_NLP/review_polarity/
